body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    color: var(--main-light-theme);
    background-color: var(--main-dark-theme);
    letter-spacing: 0.03em;

   &.no-scroll {
            overflow: hidden;
        }
}
