.clients {
    padding-top: 60px;
        padding-bottom: 60px;
    
        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }

    &__title {
            margin-bottom: 50px;
        }
    
        &__list {
            ---items: 2;
            
                @media screen and (min-width: 768px) {
                    --items: 3;
                }
            
                @media screen and (min-width: 1200px) {
                    --items: 6;
                }
        }

        &__item {
        }
    
        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 210px;
            height: 92px;
            left: 415px;
            top: 2493px;
            border: 1px solid var(--bg-buttons);
            border-radius: 4px;
            color: var(--bg-buttons);
    
            transition: color var(--anim-slow), border var(--anim-slow);

            @media screen and (min-width: 768px) {
                    width: 226px;
                }

            @media screen and (min-width: 1200px) {
                    width: 170px;
                }
        }
    
        &__link:hover,
        &__link:focus {
            color: var(--btn-change);
            border: 1px solid var(--btn-change);
        }

        &__icon {
            fill: currentColor;
        }
}


