.footer {
    padding: 60px 0;
    background-color: #2f303a;

    
    

    &__title {
        display: flex;
        justify-content: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--main-dark-theme);
            margin-bottom: 20px;

            @media screen and (min-width: 1200px) {
                justify-content: normal;
                    font-size: 14px;
                        line-height: 16px;
                }
        }
    
        &-list {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: center;
            gap: 60px;

            @media screen and (min-width: 768px) {
                    gap: 60px 165px;
                }

            @media screen and (min-width: 1200px) {
                flex-wrap: nowrap;
                        justify-content: space-between;
                        gap: 70px;
                }
        }

        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;

            @media screen and (min-width: 1200px) {
            align-items: normal;
                }
        }

}
.contacts-footer {
    display: flex;
flex-direction: column;
align-items: center;
gap: 9px;

@media screen and (min-width: 1200px) {
    align-items: normal;
    }

&__adress {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71px;
        color: var(--main-dark-theme);
    }

   

    &__link {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);

        transition: color var(--anim-slow);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-txt-cl);
    }
}

.subscription {

    &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            @media screen and (min-width: 1200px) {
                align-items: normal;
                flex-direction: row;
                    gap: 12px;
                }
        }
    
        &__mail {
            width: 290px;
            height: 50px;
            padding-left: 16px;
            color: var(--main-dark-theme);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background-color: transparent;
            cursor: pointer;

            @media screen and (min-width: 480px) {
                    width: 358px;
                }

            @media screen and (min-width: 1200px) {
                    width: 358px;
                }
        }
}

