.header {
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;

    &__nav {
            display: flex;
            align-items: center;
        }
    
        &__list {
            display: flex;
        }
    
        &__container {
            display: flex;
            align-items: center;
        }
    
        &__item:not(:last-child) {
            margin-right: 50px;
        }
    
        &__link {
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--main-light-theme);
    
            transition: color var(--anim-slow);
        }

                &__link:hover,
                &__link:focus {
                    color: var(--accent-txt-cl);
                }
}



.current__link {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--accent-txt-cl);

    &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            display: inline-block;
            margin-right: 10px;
            color: var(--accent-txt-cl);
            background-color: var(--accent-txt-cl);
            border-radius: 2px;
        }
}

.contact-header {
    display: flex;
    margin-left: auto;

    &__item {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
        }
    
        &__item:not(:last-child) {
            margin-right: 30px;
        }
    
        &__link {
            display: flex;
            align-items: center;
            color: var(--second-light-theme);
    
            transition: color var(--anim-slow);
        }
    
        &__link:hover,
        &__link:focus {
            color: var(--accent-txt-cl);
        }
    
        &__icon {
            fill: currentColor;
            margin-right: 10px;
        }
}

