.peculiarities {
padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

        &__list {
            --items: 1;

            @media screen and (min-width: 768px) {
                    --items: 2;
                }

                        @media screen and (min-width: 1200px) {
                            --items: 4;
                        }
        }
    
        &__item {
            width: 450px;

            @media screen and (min-width: 768px) {
                    width: 354px;
                }

                                @media screen and (min-width: 1200px) {
                                    width: 270px;
                                }
        }
    
    
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            height: 120px;
    
            background-color: #f5f4fa;
            border-radius: 4px;
        }
    
        &__title {
            display: flex;
                justify-content: center;

            margin-bottom: 10px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            color: var(--main-light-theme);

            @media screen and (min-width: 768px) {
                    display: flex;
                    justify-content: start;
                }

                                @media screen and (min-width: 1200px) {
                                    display: flex;
                                    justify-content: start;
                                }
        }
    
        &__text {
            font-size: 14px;
            line-height: 1.71;
            color: var(--second-light-theme);
        }

               
}

