.projects {
    @extend %section;

&__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -30px;
        margin-right: -30px;
    }

    &__item {
        margin-bottom: 30px;
        margin-right: 30px;
        width: calc((100% - 90px) / 3);
        box-sizing: border-box;
        border: 1px solid #eeeeee;
    }

    &__link {
        display: block;
        transition: box-shadow var(--anim-slow);
    }

    &__link:hover .projects__desk {
        transform: translateY(0);
    }

    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__overlay {
        position: relative;
        overflow: hidden;
    }

    &__desk {
        position: absolute;
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        color: var(--main-dark-theme);

        top: 0;
        left: 0;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(33, 150, 243, 0.9);

        transform: translateY(100%);

        transition: transform var(--anim-slow);
    }

    &__box-down {
        padding: 20px 24px;
    }

    &__name {
        width: 322px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--main-light-theme);
        margin-bottom: 4px;
    }

    &__status {
        width: 322px;
        font-size: 16px;
        line-height: 1.88;
        color: var(--second-light-theme);
    }
}

